lab2/lab2/XMLData/GraduateStudent.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="GraduateStudents">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="GraduateStudent" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FullName" type="xs:string"/>
							<xs:element name="GroupNumber" type="xs:string"/>
							<xs:element name="BirthDate" type="xs:date"/>
							<xs:element name="AverageScore" type="xs:double"/>
							<xs:element name="SupervisorId" type="xs:int"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>