lab2/lab2/XMLData/GraduateSupervisor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="GraduateSupervisors">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="GraduateSupervisor" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Id" type="xs:int"/>
							<xs:element name="FullName" type="xs:string"/>
							<xs:element name="Position" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>